{
  "info": {
    "title": "Local Contexts HUB",
    "version": "1.0"
  },
  "openapi": "3.0.3",
  "servers": [
    {
      "url": "https://localcontextshub.org"
    },
    {
      "url": "http://localhost:8100"
    }
  ],
  "paths": {
    "/api/v1/projects/": {
      "summary": "Get all projects",
      "get": {
        "operationId": "projects_list",
        "parameters": [
          {
            "name": "page",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer",
              "default": 1,
              "minimum": 1
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Returns all project (paginated)",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "type": "object",
                    "properties": {
                      "count": {
                        "type": "integer"
                      },
                      "next": {
                        "type": "string",
                        "format": "url"
                      },
                      "previous": {
                        "type": "string",
                        "format": "url"
                      },
                      "results": {
                        "type": "array",
                        "items": {
                          "$ref": "#/components/schemas/Project"
                        }
                      }
                    }
                  }
                }
              }
            }
          },
          "404": {
            "description": "invalid page",
            "content": {
              "application/json": {
                "schema": {
                  "properties": {
                    "detail": {
                      "type": "string",
                      "example": "Invalid page."
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/api/v1/projects/{project_id}/": {
      "summary": "Get project details",
      "get": {
        "operationId": "project_detail",
        "parameters": [
          {
            "required": true,
            "schema": {
              "title": "Unique project id",
              "type": "string",
              "format": "uuid"
            },
            "name": "project_id",
            "in": "path"
          }
        ],
        "responses": {
          "200": {
            "description": "Gets project details, including all notices and labels",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProjectDetails"
                }
              }
            }
          }
        }
      }
    },
    "/projects/download/{project_id}/": {
      "summary": "Download project details",
      "get": {
        "operationId": "download_project_detail",
        "parameters": [
          {
            "required": true,
            "schema": {
              "title": "Unique project id",
              "type": "string",
              "format": "uuid"
            },
            "name": "project_id",
            "in": "path"
          }
        ],
        "responses": {
          "200": {
            "description": "A Zip file with all project-details",
            "content": {
              "application/zip": {
                "schema": {
                  "type": "string",
                  "format": "binary"
                }
              }
            }
          }
        }
      }
    }
  },
  "components": {
    "schemas": {
      "Project": {
        "type": "object",
        "properties": {
          "unique_id": {
            "type": "string"
          },
          "providers_id": {
            "type": "string"
          },
          "title": {
            "type": "string"
          },
          "project_privacy": {
            "type": "string"
          },
          "date_added": {
            "type": "string"
          },
          "date_modified": {
            "type": "string"
          }
        },
        "required": [
          "date_added",
          "date_modified",
          "project_privacy",
          "providers_id",
          "title",
          "unique_id"
        ]
      },
      "ProjectDetails": {
        "type": "object",
        "properties": {
          "unique_id": {
            "type": "string",
            "format": "uuid"
          },
          "providers_id": {
            "type": "null"
          },
          "project_page": {
            "type": "string",
            "format": "uri"
          },
          "title": {
            "type": "string"
          },
          "project_privacy": {
            "type": "string",
            "enum": [
              "Public",
              "Private"
            ]
          },
          "date_added": {
            "type": "string",
            "format": "date-time"
          },
          "date_modified": {
            "type": "string",
            "format": "date-time"
          },
          "created_by": {
            "type": "array",
            "items": {
              "type": "object",
              "properties": {
                "institution": {
                  "type": "null"
                },
                "researcher": {
                  "anyOf": [
                    {
                      "type": "null"
                    },
                    {
                      "type": "object",
                      "properties": {
                        "id": {
                          "type": "integer"
                        },
                        "user": {
                          "type": "string"
                        },
                        "orcid": {
                          "type": "string",
                          "pattern": "^https://orcid.org/(\\d{4}-){3}\\d{3}[\\dXx]$"
                        }
                      },
                      "required": [
                        "id",
                        "orcid",
                        "user"
                      ]
                    }
                  ]
                },
                "community": {
                  "type": [
                    "null",
                    "string"
                  ]
                }
              },
              "required": [
                "community",
                "institution",
                "researcher"
              ]
            }
          },
          "notice": {
            "type": "array",
            "items": {
              "type": "object",
              "properties": {
                "notice_type": {
                  "type": "string"
                },
                "name": {
                  "type": "string"
                },
                "img_url": {
                  "type": "string"
                },
                "svg_url": {
                  "type": "string"
                },
                "default_text": {
                  "type": "string"
                },
                "created": {
                  "type": "string"
                },
                "updated": {
                  "type": "string"
                }
              },
              "required": [
                "created",
                "default_text",
                "img_url",
                "name",
                "notice_type",
                "svg_url",
                "updated"
              ]
            }
          },
          "project_boundary_geojson": {
            "type": "null"
          },
          "bc_labels": {
            "type": "array",
            "items": {
              "type": "object",
              "properties": {
                "unique_id": {
                  "type": "string"
                },
                "name": {
                  "type": "string"
                },
                "label_type": {
                  "type": "string"
                },
                "language_tag": {
                  "type": "string"
                },
                "language": {
                  "type": "string"
                },
                "label_text": {
                  "type": "string"
                },
                "img_url": {
                  "type": "string"
                },
                "svg_url": {
                  "type": "string"
                },
                "audiofile": {
                  "type": "null"
                },
                "community": {
                  "type": "string"
                },
                "translations": {
                  "type": "array"
                },
                "created": {
                  "type": "string"
                },
                "updated": {
                  "type": "string"
                }
              },
              "required": [
                "audiofile",
                "community",
                "created",
                "img_url",
                "label_text",
                "label_type",
                "language",
                "language_tag",
                "name",
                "svg_url",
                "translations",
                "unique_id",
                "updated"
              ]
            }
          },
          "tk_labels": {
            "type": "array",
            "items": {
              "type": "object",
              "properties": {
                "unique_id": {
                  "type": "string"
                },
                "name": {
                  "type": "string"
                },
                "label_type": {
                  "type": "string"
                },
                "language_tag": {
                  "type": "string"
                },
                "language": {
                  "type": "string"
                },
                "label_text": {
                  "type": "string"
                },
                "img_url": {
                  "type": "string"
                },
                "svg_url": {
                  "type": "string"
                },
                "audiofile": {
                  "type": "null"
                },
                "community": {
                  "type": "string"
                },
                "translations": {
                  "type": "array"
                },
                "created": {
                  "type": "string"
                },
                "updated": {
                  "type": "string"
                }
              },
              "required": [
                "audiofile",
                "community",
                "created",
                "img_url",
                "label_text",
                "label_type",
                "language",
                "language_tag",
                "name",
                "svg_url",
                "translations",
                "unique_id",
                "updated"
              ]
            }
          }
        },
        "required": [
          "created_by",
          "date_added",
          "date_modified",
          "project_boundary_geojson",
          "project_page",
          "project_privacy",
          "providers_id",
          "title",
          "unique_id"
        ]
      }
    }
  }
}